.Login {
  background-color: $white;

  .connection {
    button {
      background-color: $red;
    }
    background-color: $red;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
  }
}
