$primaryColor: #a42056;
$secondColor: #872950;
$textColorDark: #212529;
$textColorMedium: #404040;
$textColorInput: #737373;
$textColorLight: #ffffff;
$buttonColorDark: #212529;
$buttonColorRed: #ff0040;
$buttonColorMedium: #404040;
$buttonColorLight: #ffffff;
$fontFamily: 'Instrument Sans', sans-serif;
$red: #79253d;
$white: #ffffff;
$grey: #737373;
$black: rgb(0, 0, 0);

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  color: white;
  background-color: #79253d;

  .image {
    margin-top: 4%;
    background-color: $white;
  }
  h1 {
    color: rgb(255, 255, 255);
  }
}

@import '../src/assets/components/header/Header.scss';
@import '../src/assets/components/footer/Footer.scss';
@import '../src/assets/components/acceuil/Acceuil';
@import '../src/assets/components/presentation/Presentation.scss';
@import '../src/assets/components/service/Service';
@import '../src/assets/components/satisfaction/Satisfaction.scss';
@import '../src/assets/components/temoignages/Temoignages.scss';
@import '../src/assets/components/card/Card.scss';
@import '../src/assets/components/tarif/Tarif.scss';
@import '../src/assets/components/contact/Contact.scss';
@import '../src/assets/components/Caroussel/AvisCarrousel.scss';
@import '../src/assets/components/Element/BlackButton';
@import '../src/assets/components/Element/InputText';
@import './assets/components/Element/Popup';
@import './Pages/Homepage';
@import './assets/components/annonce/AjoutAnnonce';
@import './Pages/Admin';
@import './assets/components/uploadImage/UploadImage';
@import './assets/components/login/Login.scss';
@import './assets/components/AvisCards/AvisCards';
@import './assets/components/Element/scrollOnTop.scss'